<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Temperature</title>
  </head>


  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> Temperature</h1>
    <p> This page is dedicated to monitoring temperature. </p>

    <h2> Temperature history: </h2>

      <button class="button button1" style = "position:relative; left:40px;" onclick="myFunction()"> Show/Hide </button>


      <div id="myDIV">
        <figure>
          <img src="{{ url_for('temp_graph') }}" alt="Temperature" align="middle" width="600" >
        </figure>
      </div>

      <h2> Current temperature: </h2>

        <button class="button button1" style = "position:relative; left:40px;" onclick="getTemp()"> Display </button>


        <script>

          function loadXMLDoc(theURL)
          {
           if (window.XMLHttpRequest)
             {// code for IE7+, Firefox, Chrome, Opera, Safari, SeaMonkey
               xmlhttp=new XMLHttpRequest();
             }
             else
             {// code for IE6, IE5
               xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
             }
             xmlhttp.onreadystatechange=function()
             {
               if (xmlhttp.readyState==4 && xmlhttp.status==200)
               {
                 alert(xmlhttp.responseText);
               }
             }
             xmlhttp.open("GET", theURL, false);
             xmlhttp.send();
          }

          function getTemp() {
            var xmlhttp = false;
            loadXMLDoc("{{ url_for('temp_data') }}");
            if (xmlhttp == false) {
              document.getElementById("demo").value = "error"
            } else {
              document.getElementById("demo").value = xmlhttp.responseText
            }
          }

        </script>
    {% endblock %}

  </body>

</html>

